.dark{
    background: #515a6e;
    /deep/ .ivu-layout-header{
        background: #515a6e;
        color: rgba(255,255,255,.7);
    }
}

.light{
    background: white;
    /deep/ .ivu-layout-header{
        background: white;
        color:#515a6e;
    }
}